.nav {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  img {
    max-width: 100px;
    margin-bottom: 5px;
  }

  div {
    display: flex;
    gap: 0.5rem;
  }

  a {
    font-weight: 600;
    font-size: 1.25rem;
    text-decoration: none;
    color: #222;
  }
  a:hover {
    color: skyblue;
  }
  .active {
    color: tomato;
  }
}
